<div class="light-slide-item">
    <div class="clearfix">
        <div class="favorite-and-print">
            <!-- <a class="add-to-fav" href="#login-modal" data-toggle="modal">
                        <i class="fa fa-star-o"></i>
                    </a> -->
            <a class="printer-icon " href="javascript:window.print()">
                <i class="fa fa-print"></i>
            </a>
        </div>

        <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
            {% for photo in site.static_files %}
            {% if photo.path contains page.photos-path %}
            <li data-thumb="{{ photo.path }}">
                <img src="{{ photo.path }}" />
            </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>